{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
皮卡丘社区
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}
{% block header-search %}
<div class="ui text container">
    <img id="menu-title" class="ui centered image meau-title-img" src="{% static 'image/Pikachu_logo.png' %}">
    <h2>你想做的时候就去做</h2>
    <div class="ui fluid  search selection icon dropdown">
        <span class="iconfont icon-search searchbtn" onclick="add_search()"></span>
        <input class="search searchInput" placeholder="搜索..."/>
        <div class="menu dataList">
        </div>
    </div>
</div>
{% endblock header-search %}
{% block main %}
{% endblock main %}
{% block footer %}
<div class="ui vertical footer">
    <div class="ui container center aligned">
        <span>来自皮卡粗的乱七八糟搜索</span> @copyright chalize_pikachu
    </div>
</div>
{% endblock footer %}
{% block js %}
<script>
    $('.ui.dropdown')
        .dropdown()
    ;
    var suggest_url = "{% url 'suggest' %}"
    var search_url = "{% url 'search' %}"
    var searchText = null
    $(function(){
        $('.searchInput').bind('input propertychange',function(){
            searchText = $(this).val();
            var tmpHtml = ""
            $.ajax({
                cache: false,
                type: 'get',
                dataType:'json',
                url:suggest_url+"?s="+searchText,
                async: true,
                success: function(data) {
                    for (var i=0;i<data.length;i++){
                        tmpHtml += '<div class="item"><a href="'+search_url+'?q='+data[i]+'">'+data[i]+'</a></div>'
                    }
                    $(".dataList").html("")
                    $(".dataList").append(tmpHtml);
                    if (data.length == 0){
                        $('.dataList').hide()
                    }else {
                        $('.dataList').show()
                    }
                }
            });
        });
    })
    $(function(){
        $('.searchInput').keyup(function(event){
            if(event.keyCode ==13){
                window.location.href=search_url+'?q='+searchText
            }
        });
    });
    function add_search(){
        window.location.href=search_url+'?q='+searchText
    }
</script>
{% endblock js %}