<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>5秒后跳转到另一个页面</title>

<script type="text/javascript">
var t = 5;
function countDown(){
var time = document.getElementById("time");
t--;
time.value=t;
if (t<=0) {
location.href="{% url 'index' %}";
clearInterval(inter);
};
}
var inter = setInterval("countDown()",1000);
//window.onload=countDown;
</script>

</head>
<body onload="countDown()">
发送成功,请尽快到邮箱点击发送链接,5秒后跳转
<input type="hidden" readonly="true" value="5" id="time"/>
</body>
</html>