{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
注册页(*^▽^*)
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock css%}
{% block main %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui massive header">
            注册账号(*^▽^*)
        </h2>
        <form class="ui large form" method="post" action="{% url 'register' %}" autocomplete="off">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left input">
                        <input type="text" name="email" placeholder="邮箱地址">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left input">
                        <input type="password" name="password" placeholder="密码">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left img input">
                        {{register_form.captcha}}
                    </div>
                </div>
                <button class="ui fluid large submit button" type="submit">注册账号</button>
            </div>
            <div class="ui error message">{{msg}}</div>
            {% csrf_token %}
        </form>

        <div class="ui message">
            已经有账号/
            <a href="login.php#">登录</a>
        </div>
    </div>
</div>
{% endblock main %}
{% block js %}
<script src="/static/js/register.js"></script>
{% endblock js %}
{% block footer %}
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">关于</h4>
                <div class="ui inverted link list">
                    <a href="homepage.php#" class="item">Sitemap</a>
                    <a href="homepage.php#" class="item">Contact Us</a>
                    <a href="homepage.php#" class="item">Religious Ceremonies</a>
                    <a href="homepage.php#" class="item">Gazebo Plans</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">服务</h4>
                <div class="ui inverted link list">
                    <a href="homepage.php#" class="item">Banana Pre-Order</a>
                    <a href="homepage.php#" class="item">DNA FAQ</a>
                    <a href="homepage.php#" class="item">How To Access</a>
                    <a href="homepage.php#" class="item">Favorite X-Men</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">页脚</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
    </div>
</div>
{% endblock footer %}

