{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
注册页(*^▽^*)
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock css%}
{% block menu %}
<div class="ui container">
    <div class="ui large secondary inverted pointing menu">
        <a class="active item" href="{% url 'index' %}">主页</a>
        <a class="item">工作</a>
        <a class="item">公司</a>
        <a class="item">职业</a>
        <div class="right item">
            <a class="ui inverted button">登录</a>
            <a class="ui inverted button" href="{% url 'register' %}">注册</a>
        </div>
    </div>
</div>
{% endblock menu %}
{% block main %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui massive header">
            注册账号(*^▽^*)
        </h2>
        <form class="ui large form" method="post" action="{% url 'register' %}" autocomplete="off">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left input">
                        <input type="text" name="email" placeholder="邮箱地址">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left input">
                        <input type="password" name="password" placeholder="密码">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left img input">
                        {{register_form.captcha}}
                    </div>
                </div>
                <button class="ui fluid large submit button" type="submit">注册账号</button>
            </div>
            <div class="ui error message">{{msg}}</div>
            {% csrf_token %}
        </form>

        <div class="ui message">
            已经有账号/
            <a href="login.php#">登录</a>
        </div>
    </div>
</div>
{% endblock main %}
{% block js %}
<script src="/static/js/register.js"></script>
{% endblock js %}
{% block footer %}
<div class="ui vertical footer">
    <div class="ui container center aligned">
        <span>来自皮卡粗的乱七八糟搜索</span> @copyright chalize_pikachu
    </div>
</div>
{% endblock footer %}

